*{
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --red: #C20C00;
  --yellow: #E0D802;
}

body{
  background-color: #92AECA;
}

