*{
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "avatar";
  src: url(./AvaterraPersonalUseOnly-2v1oX.otf);
}


:root{
  --red: #C20C00;
  --yellow: #E0D802;
  --redShadow: #750800;
}

nav{
  background-color: var(--red);
  height: 60px;
  border-bottom: 5px solid var(--yellow);
}

.wiki{
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-family: "avatar";
  color: white;
  font-weight: bold;
  text-shadow: 0 2px 2px rgb(27, 27, 27);
}

body{
  background-color: #92AECA;
}

.text{
  font-family: "Roboto";
  color: white;
}



/* background-image: url("src/assets/avatar-the-last-airbender-wallpaper-preview.jpg");
background-position: center; 
background-repeat: no-repeat;
background-size: cover */



