*{
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "avatar";
  src: url(./AvaterraPersonalUseOnly-2v1oX.otf);
}


:root{
  --red: #C20C00;
  --yellow: #E0D802;
  --redShadow: #750800;
}

body{
  background-color: #92AECA;
}

